@model EditUsersRole

@{ 
    Layout = "_LayoutAdmin";
}
'<div class="alert alert-heading lead mt-3 mb-5"><h3>Remove Users Form @Model.Role.Name</h3></div>
<div class="text-danger" asp-validation-summary="All"> </div>
<form method="post" asp-action="RemoveFromRole">
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    <input type="hidden" name="name" value="@Model.Role.Name" />
    <table class="table table-bordered mt-3 mb-3">
    @if (Model.Users.Count() == 0)
            {
        <tr><td class="text-center" colspan="2">No Users in @Model.Role.Name</td></tr>

    }
    else
    {
    <thead><tr><th>User Name</th><th>Remove From @Model.Role.Name</th></tr></thead>
        foreach (AppUser user in Model.Users)
        {
                    <tr>
                        <td>@user.UserName</td>
                        <td><input type="checkbox" class="" name="Ids" value="@user.Id"/></td>
                    </tr>

                }

            }
    </table>
    <button type="submit" class="btn btn-danger cust-link">Save changes <i class="fa fa-save"></i></button>
    <a asp-action="Index" class="btn btn-danger cust-link">Cancel <i class="fa fa-times-circle"></i></a>
</form>